<div class="page-header">
  <h1>FAQ <small>Für alle deine Fragen</small></h1>
</div>
<h2>
  Allgemeine Fragen
</h2>
<h3>
  Wo sehe ich meine Anfragen?
</h3>
<p>
  Du suchst deine Anfragen?<br>
  Schaue einmal oben unter "Profil". Dort findest du deine geschriebenen sowie deine bekommenden Anfragen.
</p>
<h3>
  Account ändern oder löschen
</h3>
<p>
  Du willst deine Email oder dein Passwort ändern oder uns sogar verlassen?<br>
  Klicke hierfür oben auf "Profil" und dort auf "Email/Passwort ändern". Hier kannst du deine Daten anpassen.
  Falls du uns wirklich verlassen willst findest du am unteren Ende der Seite einen Account löschen Button.
</p>
<hr>
<h2>
  Musiker
</h2>
<h3>Wie lade ich Musik hoch?</h3>
<p>
  Um Deine Musik einzustellen gehe einfach oben auf "Profil" und klicke dann auf "Deine Musik hinzufügen".
  Auf der erscheinenden Seite kannst du nun deine Musik hinzufügen. Trage hierzu einfach den Titel des Liedes,
  die Youtube URL zu deinem Video und eine Beschreibung zu deinem Lied ein. Zum Schluss wählst du noch das Genre aus
  und klickst auf Speichern und schon ist dein Lied gespeichert und andere Leute können es sich anhören.
</p>
<h3>Wie ändere oder lösche ich meine Musik?</h3>
<p>
  Du willst deine Musik ändern oder löschen?<br>
  Hierzu klickst du oben auf "Profil" und dann auf "Deine Musik anzeigen". Hier findest du eine Auflistung
  deiner Hoch geladenen Musik. Diese kannst du dort bequem über die "bearbeiten" oder "löschen" Links ändern oder löschen.
</p>
<h3>Wie bewerbe ich mich für ein Event?</h3>
<p>
  Du möchtest dich für ein Event bewerben?<br>
  Kein Problem klicke auf das Event bei dem du auftreten möchtest und klicke auf der rechten Seite auf
  "Für Event bewerben". Hier kannst du dann deine Nachricht an den Veranstalter schreiben und denk dran mach Werbung für dich ;)
</p>
<hr>
<h2>Veranstalter</h2>
<h3>Wie erstelle ich eine Veranstaltung?</h3>
<p>
  Um Deine Veranstaltung einzustellen gehe einfach oben auf "Profil" und klicke dann auf "Neues Event hinzufügen".
  Auf der erscheinenden Seite kannst du nun deine Veranstaltung hinzufügen. Trage hierzu einfach den Namen des Events,
  die Location wo dein Event stattfindet, die Uhrzeit, das Datum, eine Beschreibung der Veranstaltung und wenn du möchtest
  kannst du noch eine Bild hinzufügen. Trage hierzu einfach die Bild URL ein.Nun klickst du auf Speichern und schon ist deine Veranstaltung
  gespeichert und für alle sichtbar.
</p>
<h3>Wie ändere oder lösche ich meine Veranstaltung?</h3>
<p>
  Du willst deine Veranstaltung ändern oder löschen?<br>
  Hierzu klickst du oben auf "Profil" und dann auf "Deine Events anzeigen". Hier findest du eine Auflistung
  deiner eingestellten Veranstaltungen. Diese kannst du dort bequem über die "bearbeiten" oder "löschen" Links ändern oder löschen.
</p>
<h3>Wie engagiere ich einen Musiker?</h3>
<p>
  Du möchtest einen Musiker engagieren?<br>
  Kein Problem klicke auf das Lied das dir am besten gefällt und klicke oben rechts auf "Anfrage schicken". Hier kannst du nun
  dem Musiker eine Nachricht schreiben und fragen ob er Lust und zeit hat bei dir aufzutreten.
</p>
<hr>
<h2>Meine Frage ist nicht aufgeführt</h2>
<p>
  Du hast keine Antwort auf deine Frage gefunden?<br>
  Schreibe uns einfach eine Email an: bla@irgendwas.de und wir werden so schnell es geht antworten:)
</p>