<div class="page-header">
    <h1>Willkommen
  <% if current_user.present? %>
    <small>
      <%= current_user.username %>
    </small>
  <% end %></h1>
</div>
<div>

  <p class="lead">
    Hier gibt es ganz tolle Sachen zu erleben und so...<br>
    Musik einstellen und sich dann für ein Event bewerben und so... voll klasse...<br><br><br>
    Dann kommt hier noch ganz viel Toller Text hin was das denn für ne Tolle und Spitzenmäßige Seite ist!
  </p>

</div>
