<div class="page-header">
    <h1>Willkommen
  <% if current_user.present? %>
    <small>
      <%= current_user.username %>
    </small>
  <% end %></h1>
</div>
<div>

  <p >
   Du bist Musiker und sucht eine Chance dein können zu zeigen oder Veranstaltest ein Event?<br>
    Dann bist du hier genau richtig!<br><br>
    Hier kannst du als Musiker deine Lieder präsentieren und dich bei Events bewerben.<br>
    Als Veranstalter kann du hier nach guten Musikern ausschau halten und diese dann engagieren.
  </p>
  <p>
    Du hast noch fragen?<br>
    <a href="faq">Schau in unsrem FAQ vorbei</a>
  </p>
</div>
