/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
    background: url("20150711_FEEL_FESTIVAL-106.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;

}
body{
    background: rgba(255,255,255,0.8);
    font-size: 17px;
    min-height: 100%;

    width: 100vw;

}

input{
    background: rgba(255,255,255,0.5);
}

textarea{
    background: rgba(255,255,255,0.5);
}

p{
    font-size: 17px;
}

table{
    background: rgba(255,255,255,0.8);
}
tr:hover{
    background: rgba(200,200,200,0.1);
}
thead th{
    background: rgba(231, 231, 231, 0.80);
}

a{
    font-size: 15px;
}
a:hover{
    background: none;
    color: black;
}
li{
    margin: 5px;
}