<div class="page-header">
  <h1>Neuste Musik</h1>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>

    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
    <% @genre_id = music.genre_id %>
      <tr>
        <td><%= link_to music.name , music %></td>
        <td><%= @genre[@genre_id-1].name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="musics/all" >alle Anzeigen</a>

</div>
<div class="col-md-3  col-sm-3 col-lg-2 col-lg-offset-1">
  <h4>Nach Genre suchen</h4>

    <form method="get" action="musics/genre" class="form-inline">

    <select name="genre_id" >
      <% @genre.each do |genre| %>
          <option value="<%= genre.id %>"><%= genre.name %></option>
      <% end %>
    </select>


    <input type="submit" value="Suchen">

    </form>

</div>