<div class="page-header">
<h1>Musik</h1>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Genre</th>
  </tr>
  </thead>

  <tbody>
  <% @musics.each do |music| %>
      <% @genre_id = music.genre_id %>
      <tr>
        <td><%= link_to music.name , music %></td>
        <td><%= @genre[@genre_id-1].name %></td>
      </tr>
  <% end %>
  </tbody>
</table>